
body{
    font-family: 'Mukta', sans-serif;
    margin: 0;
}
.welcome-section{
    
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
     margin-bottom: 10%;
}
.half-with{
    margin-left:5%;
    margin-right: 10px;
    width: 50%;
    text-align: justify;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.half-with img{
    width: 80%;
}
.botton-icon{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 7px 30px;
    color: white;
}
.dream{
    display: flex;
}
#style{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}